body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question {
  width: 75%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question p {
  font-size: 30px;
  line-height: 1.15em;
}

.options {
  display: block;
  margin: auto;
  border: none;
  background-color: white;
  color: black;
  font-size: 24px;
  line-height: 1.15em;
  margin-top: 1em;
}

.options:hover {
  cursor: pointer;
  background-color: lightyellow;
  text-decoration: underline;
}

.container {
  width: 75%;
  height: 95%;
  margin: auto;
  text-align: center;
}